@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&family=Metamorphous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&family=Eagle+Lake&family=Metamorphous&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fef08a;
  border-radius: 1px;
}

@font-face {
  font-family: "title";
  src: url("/fonts/title.ttf") format("truetype");
}

.title {
  font-family: "Eagle Lake", serif;
  font-weight: 900;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: #ededed;
  font-family: "Metamorphous", serif;
  background: black;
}
/* input {
  background-color: black !important;
} */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
